.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  text-align: center;
}
.login-block {
  height: 50vh;
  background: #efefef;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-block {
  display: contents;
}
.login-title {
  font-size: 30px;
}
.account, .password {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.register-button {
  margin: 5px 0 5px 0;
  color: steelblue;
  cursor: pointer;
}
.login-button {
  margin-top: 5px;
}

.home-button, .news-button {
  cursor: pointer;
}
.error {
  color: red;
}
.success {
  color: green;
  margin-top: 15px;
}
.fail {
  color: red;
  margin-top: 15px;
}
.show-password {
  cursor: pointer;
  background: darkgrey;
}
